/*PIE DE PAGINA */
/* #region footer*/


.footer {
  background-color: rgb(237, 178, 100);
  color: rgb(110, 37, 16);
  text-align: center;
  padding: 15px;
}

.pie {
  margin-top: 10px;
}

.pie ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  justify-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 10px;
}

.pie ul li {
  display: inline-block;
}

.pie ul li a {
  color: rgb(110, 37, 16);
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-size: 15px;
}

.pie ul li:hover a {
  background-color: #fad0c4;
  color: #110a06;
}
/* #endregion footer*/
