<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
    <link rel="stylesheet" href="../styles/reset.css">
     <link rel="stylesheet" href="../styles/style.css">
     <link rel="stylesheet" href="../styles/responsive.css">
     <script src="../scripts/script.js" defer></script>
</head>
<body>
    <header class="encabezado">
        <div class="logo">Logo</div>
        <nav class="menu">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="index.html#acerca">Acerca</a></li>
                <li>
                    <a href="">Servicios</a>
                    <ul>
                        <li><a href="#servicio1">Servicio 1</a></li>
                        <li><a href="#servicio2">Servicio 2</a></li>
                        <li><a href="#servicio3">Servicio 3</a></li>
                    </ul>
                </li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <div class="contenedor">
        <!-- <aside class="lateral">
            <h3>Menú Lateral</h3>
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">x</a></li>
            </ul>
        </aside> -->

        <main class="principal">
            <section>
                <div>
                    <img class="foto" src="img/perro.jpeg" alt="Imagen descriptiva del producto">
                    <img class="foto" src="img/perro.jpeg" alt="Imagen descriptiva del producto">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eos soluta ut atque velit veniam autem. Sequi, itaque deserunt animi, a alias illum nesciunt ratione culpa minus nisi laborum odio.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eos soluta ut atque velit veniam autem. Sequi, itaque deserunt animi, a alias illum nesciunt ratione culpa minus nisi laborum odio.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eos soluta ut atque velit veniam autem. Sequi, itaque deserunt animi, a alias illum nesciunt ratione culpa minus nisi laborum odio.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eos soluta ut atque velit veniam autem. Sequi, itaque deserunt animi, a alias illum nesciunt ratione culpa minus nisi laborum odio.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eos soluta ut atque velit veniam autem. Sequi, itaque deserunt animi, a alias illum nesciunt ratione culpa minus nisi laborum odio.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eos soluta ut atque velit veniam autem. Sequi, itaque deserunt animi, a alias illum nesciunt ratione culpa minus nisi laborum odio.</p>
            </section>
            <section id="acerca">
                <h2>Acerca de</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam distinctio saepe dolorum aliquam hic atque sapiente tempora molestias! Inventore voluptate, in quis illo officia officiis debitis distinctio fuga sapiente perspiciatis.</p>
            </section>
        </main>

    </div>


    <footer class="pie">
        <p>Todos los derechos reservados @2024</p>
    </footer>

</body>
</html>
