<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>SWEETSTACKS</title>
    <link rel="stylesheet"
          href="../styles/styles.css">
    <link rel="shortcut icon"
          href="../img/sweepstakes.jpg"
          type="image/x-icon">
</head>

<body>
    <header class="Emcabezado">
        <img class="logo"
             src="../img/logo.svg"
             alt="">
        <nav class="menu">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li>
                    <a href="#">Recetas</a>
                    <ul>
                        <li><a href="#">Receta 1</a></li>
                        <li><a href="#"">Receta 2</a></li>
                        <li><a href="#">Receta 3</a></li>
                    </ul>
                </li>
                <li><a href="#">Contactanos</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <section class="container">
            <div class="item-container">
                <img class="img_gourmet"
                     src="../img/gourmet.webp"
                     alt="">
                <p class="descripcion_gourmet">Receta 01</p>
            </div>
            <div class="item-container">
                <img class="img_panaderia"
                     src="../img/panaderia.webp"
                     alt="">
                <p class="descripcion_gourmet">Receta 02</p>
            </div>
            <div class="item-container">
                <img class="img_gourmet"
                     src="../img/gourmet.webp"
                     alt="">
                <p class="descripcion_gourmet">Receta 03</p>
            </div>
        </section>

        <div id="test">
            <h3>Testimonios</h3>
        </div>
        <section class="section_testimonios">
            <div class="testionial">
                <img class="img_test"
                     src="img/Ana_M..webp"
                     alt="Testimonio 1">
                <p>"Estas recetas me ayudaron a mejorar mis habilidades en la
                    cocina. ¡Los platillos son increíbles!" - María P.</p>
            </div>
            <div>
                <img class="img_test"
                     src="img/Juan_P..webp"
                     alt="Testimonio 2">
                <p>"Gracias a sus recetas, he podido sorprender a mi familia con
                    postres deliciosos." - Carlos L.</p>
            </div>
        </section>

        <section class="banner">
            <h3>Suscribete a nuestro boletin de recetas!!</h3>
            <p>recibe las mejores recetas directamente en tu correo cada semana
            </p>
            <!-- <button><a href="#">Suscribete Ahora</a></button> -->
            <button type="submit">Suscribete Ahora</button>
        </section>
    </main>

    <footer class="footer">
        <nav class="pie">
            <ul>
                <li><a href="#">Privacidad</a></li>
                <li><a href="#">Terminos y Condiciones</a></li>
                <li><a href="#">Trabaja con nosotros</a></li>
                <li><a href="#">Cookies</a></li>
                <li><a href="#">Accesibilidad</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <p class="copyright">&copy; 2024 SWEETSTACKS. Todos los derechos reservados.</p>
    </footer>
</body>

</html>
