<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulo</title>
    <link rel="stylesheet" href="../styles/reset.css">
     <link rel="stylesheet" href="../styles/style.css">
     <link rel="stylesheet" href="../styles/responsive.css">
     <script src="../scripts/script.js" defer></script>
     <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="encabezado">
        <div class="logo">Logo</div>
        <nav class="menu">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="index.html#acerca">Acerca</a></li>
                <li>
                    <a href="">Servicios</a>
                    <ul>
                        <li><a href="#servicio1">Servicio 1</a></li>
                        <li><a href="#servicio2">Servicio 2</a></li>
                        <li><a href="#servicio3">Servicio 3</a></li>
                    </ul>
                </li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <div class="contenedor">

        <main class="principal">

        </main>

    </div>


    <footer class="pie">
        <p>Todos los derechos reservados @2024</p>
    </footer>

</body>
</html>
