body {
    background: #FAD0C4;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    position: relative;
}

header {
    background-color: rgb(237, 178, 100);
    padding: 10px;
    z-index: 1000;
}



.encabezado {
    height: 4%;
    color: #FFF1E6;
    position: relative;
    z-index: 20;
}

.logo {
    padding: 20px 100px;
    width: 40%;
}

.menu {
    float: right;
    padding: 20px;
    position: relative;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

.menu ul li a {
    color: rgb(110, 37, 16);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 20px;
    color: #FFF1E6;
    text-decoration: none;
}

.menu ul li:hover>a {
    background-color: #FAD0C4;
}

.menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(237, 178, 100);
    min-width: 150px;
}


.menu ul li:hover>ul {
    display: block;
    background-color: rgb(237, 178, 100);
}

.menu ul ul li {
    display: block;
}

.menu ul ul li:hover {
    display: block;
    background-color: rgb(237, 178, 100);
}

/*PIE DE PAGINA */

.footer {
    background-color: rgb(237, 178, 100);
    color: rgb(110, 37, 16);
    text-align: center;
    padding: 20px;
}

.pie {
    padding: 1px;
    position: relative;
    font-size: 15px;
}

.pie ul {
    list-style: none;
    padding: 0;
}

.pie ul li {
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

.pie ul li a {
    color: rgb(110, 37, 16);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 15px;
}

.pie ul li:hover a {
    background-color: #FAD0C4;
}

/* PRINCIPAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 20px;

}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px; */
}

.item-container {
    display: flex;
    flex-direction: column;
    /* width: 80%; */
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container img {
    width: 50%;
}

.img_panaderia {
    float: right;
}

.descripcion_gourmet {
    width: auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}

.descripcion_panaderia {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: left;
}

/*TESTIMONIOS */

#test {
    background-color: #ffe4b2;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
}

.section_testimonios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.testimonial {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    max-width: 50%;
    margin: 0 auto;
}

.testimonial img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
    max-height: 150px;
    object-fit: cover;
}

.testimonial p {
    padding: 10px;
    font-size: 16px;
    color: #333;
}

.img_test {
    width: 75%;
}

/*BANNER */

.banner {
    background-color: #ffe4b2;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
}

.banner button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #f77f00;
    border: none;
    color: #FFF1E6;
    font-size: 16px;
    cursor: pointer;
}

.banner button a {
    list-style: none;
    text-decoration: none;
    display: block;
    color: #FFF1E6;
}

.banner button:hover, .banner a:hover {
    background-color: #FFF1E6;
    color: #110a06;
    cursor: pointer;
}

.copyright {
    margin: 10px;
}
